*.log
*.7z
*.7z.1
stackexchange-xml-converter
*.xml
csv/*
__pycache__
node_modules
.__*

# This file is 600M
# and we have a monthly binned
# counts availble as another file
all-creation-dates.parquet
.vscode